*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root {
  --bg-primary: #4f465a;
  --bg-secondary: #faf1ff;
  --text-primary: #d9f1f6;
  --text-secondary: #7ddcff;
}


h1{
  color:var(--text-secondary)
}

